*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f1f2f6;
}
.calculator{
    background-color: #5a6976;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
}
.result input{
    padding: 30px 3px;
    width: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 5px 0;
    direction: rtl;
    font-size: 40px;
    color: #fff;
    background-color: transparent; 
    font-weight: bold;  

}

.op{
    width: 100%;
    height: 4em;
   border-radius: 25px;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #899daf;

}

.num{
    width: 100%;
    height: 4em;
   border-radius: 25px;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
   
}
.numpad{
    padding-top: 15px;
    display: grid;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.col-span-four{
    grid-row: 2/ span 4;
    grid-column: 4;
    height: auto;
    border-radius: 25px;
    font-size: 30px;
    background-color: #fe7076;
}
.num:hover{
    background-color: #717e8a;
}
.col-span-four:hover{
    background-color: #ff838a;
}
.op:hover{
    background-color: #a1aeba;
}
